# ---------------------
# Deep Learning (Render-compatible CPU versions)
# ---------------------
torch==2.5.1+cpu
torchvision==0.20.1+cpu

# ---------------------
# Web App (Streamlit)
# ---------------------
streamlit>=1.29
numpy
pillow
opencv-python-headless
scikit-image
scikit-learn
matplotlib

# ---------------------
# ML Utils
# ---------------------
tqdm
pandas
albumentations

# ---------------------
# Download helper
# ---------------------
gdown
