# PyTorch CPU Compatible with Python 3.10
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# App
streamlit==1.32.0
numpy
pillow
opencv-python-headless
scikit-image
scikit-learn
matplotlib
tqdm
pandas
albumentations
segmentation-models-pytorch==0.3.3
gdown
